extends layout

block content
    div#formr
        p#generalfont1 Sport: #{event.sport}
        p#generalfont1 Numero partecipanti: #{event.npm}
        p#generalfont1 Luogo: #{event.luogo}
        p#generalfont1 Orario: #{event.ora}
        p#generalfont1 Data: #{event.data}
        a#submit(href=`/iscriviti/${event.ide}`) Iscriviti
        