extends layout

block content
    br 
    br 

    each event in events
        div#eventdiv
            p#generalfont1  #{event.sport} #{event.npm} #{event.luogo} #{event.ora} #{event.data}
            a#generalfont2(href=`/event/${event.ide}`) Vedi dettagli
        br
        